$containerMaxwidth: 1310px;

$colorGrey: #999;
$colorGreyLight: #F6F6F6;
$colorGreyMd: #EAEAEA;
$colorGreyShade: #666;
$colorPrimary: #A65CF0;
$colorPrimaryLight: #C998FB;
$colorPrimaryShade: #7033AC;
$colorBlack: #333;
$colorWhite: #fff;
$colorSecondary: #FF862F;
$colorSecondaryLight: #FFBD59;
$colorSecondaryShade: #BB370E;
$colorGold: #D5B986;
$colorPinkLight: #F8EFFF;
$colorPinkViolet: #EBD1FF;
$colorBone: #fff5d1;
